<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Learning nodejs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Pariatur veritatis quaerat sapiente ad dolores suscipit 
        vel maiores ratione quibusdam veniam harum minus minima 
        voluptatibus corporis nemo optio, quos tenetur fugiat.
    </p>
</body>
</html>